<a href="https://colab.research.google.com/github/kimkyeongmo/2021_PNUAC_AIData/blob/main/pandas_Series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **파이썬에서 사용하는 데이터분석 라이브러리**
+ 행과 열로 이루어진 데이터 객체를 만들어 다룰 수 있게 되며 보다 안정적으로 대용량의 데이터들을 처리하는데 매우 편리한 도구
+ NumPy를 기반으로 구축되었으며 과학 컴퓨팅 환경 내에서 다른 많은 타사 라이브러리와 잘 통합되도록 설계
+ 많은 기능을 가진 데이터 구조
 - 다양한 방식으로 색인된 데이터를 다룰 수 있는 기능
 - 시계열 데이터와 비시계열 데이터를 함께 다룰 수 있는 통합 자료 구조
 - 누락된 데이터를 유연하게 처리 할 수 있는 기능
 - sql같은 일반 데이터베이스 처럼 데이터를 합치고 관계연산을 수행하는 기능

### **pandas 자료 구조**
+ Series
 - 1차원 자료 구조
 - index로 value를 구분하는 1차원 자료 구조
+ DataFrame
 - 2차원 자료구조
 - DataFrame는 행과 열이 있는 테이블 데이터

#### pandas 라이브러리 추가

In [ ]:
import pandas as pd

## **리스트(list)를 시리즈(Series) 변경**

### pd.Series()

In [ ]:
lt = [4.1, 5.5, 9.0, 15.0, 19.0, 21.3]
slt = pd.Series(lt)
print(slt)

0     4.1
1     5.5
2     9.0
3    15.0
4    19.0
5    21.3
dtype: float64

#리스트를 시리즈로 변경하기

In [ ]:
print(type(slt))

<class 'pandas.core.series.Series'>

#시리즈의 3번째 요소가져오기

#### 리스트를 변경한 series index, values

In [ ]:
print(slt.index)
print(slt.keys())
print(slt.values)

RangeIndex(start=0, stop=6, step=1)
RangeIndex(start=0, stop=6, step=1)
[ 4.1  5.5  9.  15.  19.  21.3]

### **딕션너리(dictionary)를 시리즈(Series)로 변경

####pd.Series()

In [ ]:
dt = {'1월':4.1, '2월':5.5, '3월':9.0, '4월':15.0, '5월':19.0 ,'6월':21.3}
sdt=pd.Series(dt)
print(sdt)

1월     4.1
2월     5.5
3월     9.0
4월    15.0
5월    19.0
6월    21.3
dtype: float64

In [ ]:
print(sdt.index)
print(sdt.keys())
print(sdt.values)

Index(['1월', '2월', '3월', '4월', '5월', '6월'], dtype='object')
Index(['1월', '2월', '3월', '4월', '5월', '6월'], dtype='object')
[ 4.1  5.5  9.  15.  19.  21.3]

In [ ]:
sdt['3월']

9.0

### **시리즈(Series) 인덱스(index) 변경하기**

In [ ]:
ltk = ['1월', '2월', '3월', '4월', '5월', '6월']
lt = [4.1, 5.5, 9.0, 15.0, 19.0 ,21.3]

In [ ]:
slt=pd.Series(lt, index=ltk)
print(slt)

1월     4.1
2월     5.5
3월     9.0
4월    15.0
5월    19.0
6월    21.3
dtype: float64

#### 생성 후 변경하기

In [ ]:
slt=pd.Series(lt)
print(slt)

0     4.1
1     5.5
2     9.0
3    15.0
4    19.0
5    21.3
dtype: float64

In [ ]:
slt.index=ltk
print(slt)

1월     4.1
2월     5.5
3월     9.0
4월    15.0
5월    19.0
6월    21.3
dtype: float64

### 시리즈 인덱싱

+ 인덱스를 가지고 시리즈에서 특정 항목 추출
리스트랑 딕셔너리랑 동일

### 시리즈 슬라이싱
+ 시리즈 일부를 추출하여 시리즈로 변호나
+ 콜론 쉼표 사용
+ 조건 사용

In [ ]:
sub1= slt[1:3]
print(sub1)

2월    5.5
3월    9.0
dtype: float64

In [ ]:
sub1= slt['1월':'3월']
print(sub1)

1월    4.1
2월    5.5
3월    9.0
dtype: float64

In [ ]:
sub1= slt[[1,3,5]]
print(sub1)

2월     5.5
4월    15.0
6월    21.3
dtype: float64

#### 조건 사용

In [ ]:
slt > 10

1월    False
2월    False
3월    False
4월     True
5월     True
6월     True
dtype: bool

In [ ]:
slt[slt>10]

4월    15.0
5월    19.0
6월    21.3
dtype: float64

## 시리즈 연산
+ 시리즈 길이가 같고 인덱스가 같은 것 끼리 연산
 - 더하기 각 더하기
 - 곱하기 각 곱하기
+ 단 인덱스 , 키값이 같이야지 연산이 된다.

### **시리즈(Series) 기본 조회와 기초 통계 메소드**
* head(n) : 상위 n개 조회, n생략 시 5개 조회
+ tail(n) : 하위 n개 조회, n생략 시 5개 조회
+ describe() : 요약 통계량 계산
+ mean() : 평균
+ max() : 최대
+ min() : 최소
+ std()  : 표준편차

### **자주 사용되는 메소드**
+ equals() : 시리즈와 시리즈가 같은지 비교, 키와 값이 모두 같아야 함
+ replace() : 특정값을 가진 요소 값을 변경
+ isin() : 시리즈에 포함된 값이 있는지 확인
+ drop_duplicates() : 중복값이 없는 시리즈 반환
+ append() : 2개이상의 시리즈 연결
+ sort_index(ascending=True) : 인덱스로 정렬
+ sort_values(ascending=False) : 값으로 정렬
+ to_frame() : 시리즈를 데이터프레임으로 변경

### 1번

In [ ]:
import pandas as pd
dt = {'국어국문학과':7,'중어중문학과':4,'일어일문학과':8,'영어영문학과':30,'불어불문학과':5,'독어독문학과':4,'노어노문학과':5,'한문학과':6,'언어정보학과':3,'사학과':7,'철학과':5,'고고학과':9}
dt=pd.Series(dt)
dt

국어국문학과     7
중어중문학과     4
일어일문학과     8
영어영문학과    30
불어불문학과     5
독어독문학과     4
노어노문학과     5
한문학과       6
언어정보학과     3
사학과        7
철학과        5
고고학과       9
dtype: int64

### 2번

In [ ]:
import pandas as pd
dt = {'국어국문학과':7,'중어중문학과':4,'일어일문학과':8,'영어영문학과':30,'불어불문학과':5,'독어독문학과':4,'노어노문학과':5,'한문학과':6,'언어정보학과':3,'사학과':7,'철학과':5,'고고학과':9}
dt=pd.Series(dt)
dt_index=dt.index
#print(type(dt_index))
while(True):
  i=0
  print("학과 입력 =>")
  Str_N=input("")
  for i in range(0,len(dt)):
    if dt_index[i]==Str_N:
      print("%s 추가 합격 순위 : %d번"%(dt_index[i],dt[i]))
      break;
    else:
      i+=1
      if i==len(dt):
        print("해당학과는 존재하지 않습니다")
        break;
  ans=input("종료하시겠습니까?(종료:y)")
  if ans == 'y':
    break
  else:
    continue

학과 입력 =>
국어국문학과
국어국문학과 추가 합격 순위 : 7번
종료하시겠습니까?(종료:y)n
학과 입력 =>
국어궁문학과
해당학과는 존재하지 않습니다
종료하시겠습니까?(종료:y)y

#### 3번

In [ ]:
import pandas as pd
dt = {'국어국문학과':7,'중어중문학과':4,'일어일문학과':8,'영어영문학과':30,'불어불문학과':5,'독어독문학과':4,'노어노문학과':5,'한문학과':6,'언어정보학과':3,'사학과':7,'철학과':5,'고고학과':9}
dt=pd.Series(dt)
print("조건식을 이용하는 방법")
print(dt[dt<4])
print(dt[dt>19])

print(dt[dt>19|dt<4])

print("메서드를 이용하는 방법")
#이건 모르겟다;;;;

조건식을 이용하는 방법
언어정보학과    3
dtype: int64
영어영문학과    30
dtype: int64

ValueError: ignored

#### 4번

In [ ]:
import pandas as pd
dt = {'국어국문학과':7,'중어중문학과':4,'일어일문학과':8,'영어영문학과':30,'불어불문학과':5,'독어독문학과':4,'노어노문학과':5,'한문학과':6,'언어정보학과':3,'사학과':7,'철학과':5,'고고학과':9}
dt=pd.Series(dt)
j=0
for i in range(0,len(dt)):
  j+=dt[i]
j/=len(dt)
j=int(j)
print( "평균 추가 합격 순위 : %d위"%(j))

평균 추가 합격 순위 : 7위

#### 5번

In [ ]:
import pandas as pd
dt = {'국어국문학과':7,'중어중문학과':4,'일어일문학과':8,'영어영문학과':30,'불어불문학과':5,'독어독문학과':4,'노어노문학과':5,'한문학과':6,'언어정보학과':3,'사학과':7,'철학과':5,'고고학과':9}
dt=pd.Series(dt)
dt_result2=dt.sort_index()
dt_result2

고고학과       9
국어국문학과     7
노어노문학과     5
독어독문학과     4
불어불문학과     5
사학과        7
언어정보학과     3
영어영문학과    30
일어일문학과     8
중어중문학과     4
철학과        5
한문학과       6
dtype: int64

In [ ]:
import pandas as pd
dt = {'국어국문학과':7,'중어중문학과':4,'일어일문학과':8,'영어영문학과':30,'불어불문학과':5,'독어독문학과':4,'노어노문학과':5,'한문학과':6,'언어정보학과':3,'사학과':7,'철학과':5,'고고학과':9}
dt=pd.Series(dt)
dt_result2=dt.sort_index()
dt_result2=dt_result2.sort_values()
dt_result2

언어정보학과     3
독어독문학과     4
중어중문학과     4
노어노문학과     5
불어불문학과     5
철학과        5
한문학과       6
국어국문학과     7
사학과        7
일어일문학과     8
고고학과       9
영어영문학과    30
dtype: int64