<a href="https://colab.research.google.com/github/kimkyeongmo/2021_PNUAC_AIData/blob/main/pandas_02_dataframe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **DataFrame**

In [ ]:
+ 2차원 자료구조인 DataFrame는 행과 열이 있는 테이블 데이터

## pandas 라이브러리 추가

In [ ]:
import pandas as pd

## 데이터프레임으로 변환
+ pd.DataFrame()

### 리스트를 데이터프레임으로 변환

In [ ]:
area = ['서울','부산','대구','인천','광주','대전','울산','세종','경기','강원','충북','충남','전북','전남','경북','경남','제주']
pm25_avg = [20,13,15,20,19,16,14,18,20,14,19,23,23,14,15,13,14]
pm25_max = [22,18,18,30,23,20,16,19,27,18,26,29,30,27,23,17,16]
pm25_min = [16,10,11,12,15,12,11,17,13,9,14,19,14,10,8,9,11]

In [ ]:
df=pd.DataFrame()
df['지역']=area
df['평균']=pm25_avg
df['최대']=pm25_max
df['최소']=pm25_min
df

    지역  평균  최대  최소
0   서울  20  22  16
1   부산  13  18  10
2   대구  15  18  11
3   인천  20  30  12
4   광주  19  23  15
5   대전  16  20  12
6   울산  14  16  11
7   세종  18  19  17
8   경기  20  27  13
9   강원  14  18   9
10  충북  19  26  14
11  충남  23  29  19
12  전북  23  30  14
13  전남  14  27  10
14  경북  15  23   8
15  경남  13  17   9
16  제주  14  16  11

In [ ]:
df['지역']

0     서울
1     부산
2     대구
3     인천
4     광주
5     대전
6     울산
7     세종
8     경기
9     강원
10    충북
11    충남
12    전북
13    전남
14    경북
15    경남
16    제주
Name: 지역, dtype: object

In [ ]:
type(df['지역'])

pandas.core.series.Series

#외부 데이터 가져오기
+  csv 읽기
 - 한글 파일명을 사용할 경우 : df=pd.read_csv('파일명',engine='python')
 - 파일 내용 한글이 걔지는 경우 : df=pd.read_csv('파일명',engine='python',encoding='cp949')
+ 엑셀 읽기
 - 한글 파일명을 사용할 경우 : df = pd.read_excel(;파일명')

## 데이터프레임(DataFrame) 살펴보기
* 데이터프레임의 정보 : **df.info()**
 - 데이터프레임에 대한 전반적인 정보
 - 데이터프레임을 구성하는 행과 열의 크기, 컬럼명, 컬럼을 구성하는 값의 자료형 등을 출력
+ 데이터프레임의 크기 확인 : **df.shape 속성**
 - (행, 열) 크기를 확인하기\n
 - 행의 개수 : len(데이터프레임), len(.index), .shape[0]
 - 열의 개수 : len(.column), .shape[1]
+ 데이터프레임의 원소의 총개수 : **df.size 속성**
+ 데이터프레임 개수 확인 :**df.count()**
 - Null이 아닌 행의 개수 확인
 - axis='columns' : Null이 아닌 열의 개수 확인
* 데이터프레임의 인덱스
+ 열의 인덱스 : **df.colums**
+ 행의 인덱스 : **df.index**
+ **데이터프레임의 인덱스 변경**
 - 열인덱스 명 변경 : df.column = [열명인덱스]
 - 열항목 중 하나를 인덱스로 사용 : df.set_index(열명)
 - 인덱스를 일반 데이터 열로 전환 : df.reset_index()

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   지역      17 non-null     object
 1   평균      17 non-null     int64
 2   최대      17 non-null     int64
 3   최소      17 non-null     int64
dtypes: int64(3), object(1)
memory usage: 672.0+ bytes

In [ ]:
df.shape
len(df)
len(df.index)
df.shape[0]
len(df.columns)
df.shape[1]

4

In [ ]:
print(df.count())

지역    17
평균    17
최대    17
최소    17
dtype: int64

In [ ]:
print(df.size)

68

In [ ]:
df.index # 행
df.columns # 열

Index(['지역', '평균', '최대', '최소'], dtype='object')

In [ ]:
df.colums=[item.strip() for item in df.columns]
df.colums

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  """Entry point for launching an IPython kernel.

['지역', '평균', '최대', '최소']

In [ ]:
#지역 컬럼을 행 인덱스로 지정
#df=df.set_index('지역')

# 데이터프레임 인덱싱과 슬라이싱

##df[]
+ 특정 열 가져오기 : df[열인덱스, 열인덱스 리스트]
+ 특정 행 가져오기 : df[시작인덱스 : 종료행인덱스]

ex > df['주간평균']
ex > df[['주간평균','최저값']]

### df.loc[행인덱스, 열인덱스]
+ 특정 열 가져오기 : df.loc[:,열인덱스]
+ 특정 행 가져오기 : df.loc[행인덱스:,]
+ 특정 항목 가져오기 : df.loc[행인덱스,열인덱스]

### df.iloc[행인덱스 순서 , 열인덱스 순서]
+ loc와 동일하지만 순서가 와야한다

#데이터프레임 기본조회와 기초 통계 메소드
+ 시리즈와 동일함